@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #DEB086;
  --primary-color-opaque: #deb18644;
  --dark-blue: #080818;
  --dark-blue-opaque: #08081844;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #ffffff;
  background-color: var(--dark-blue);
  font-family: 'Montserrat', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}
a{
  color: #ffffff;
  text-decoration: none;
}

.header{
  width: 100%;
  height: fit-content;
  background-color: transparent;
  color: #ffffff;
}
.logo-image{
  width: 64px;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}